In [1]:
import numpy as np
from pandas import DataFrame
import pandas as pd
oil_r=pd.read_csv('oil_reserves.csv')
oil_r

,Region,Country/ Region,2010,2011,2012,2013,2014,2015,2016
0,North America,US,34.990,39.775,44.180,48.463,54.962,47.987,47.987
1,North America,Canada,174.848,174.177,173.716,173.038,172.156,171.512,171.512
2,North America,Mexico,11.691,11.394,11.424,11.079,10.816,7.977,7.977
3,S. & Cent. America,Argentina,2.524,2.525,2.354,2.330,2.380,2.395,2.395
4,S. & Cent. America,Brazil,14.246,15.050,15.314,15.593,16.184,13.000,12.634
5,S. & Cent. America,Colombia,1.900,1.988,2.200,2.377,2.445,2.308,2.002
6,S. & Cent. America,Ecuador,6.158,7.210,8.383,8.191,8.000,8.000,8.000
7,S. & Cent. America,Peru,1.240,1.206,1.423,1.617,1.410,1.187,1.187
8,S. & Cent. America,Trinidad & Tobago,0.830,0.830,0.830,0.830,0.830,0.728,0.243
9,S. & Cent. America,Venezuela,296.501,297.571,297.735,298.350,299.953,300.878,300.978
10,S. & Cent. America,Other S. & Cent. America,0.768,0.507,0.512,0.528,0.529,0.536,0.520
11,Europe & Eurasia,Azerbaijan,7.000,7.000,7.000,7.000,7.000,7.000,7.000
12,Europe & Eurasia,Denmark,0.899,0.805,0.730,0.673,0.610,0.491,0.440
13,Europe & Eurasia,Italy,0.580,0.578,0.621,0.603,0.642,0.617,0.541
14,Europe & Eurasia,Kazakhstan,30.000,30.000,30.000,30.000,30.000,30.000,30.000
15,Europe & Eurasia,Norway,6.804,6.883,7.495,7.047,6.539,8.005,7.601
16,Europe & Eurasia,Romania,0.600,0.600,0.600,0.600,0.600,0.600,0.600
17,Europe & Eurasia,Russian Federation,105.800,105.709,105.492,105.016,103.164,102.375,109.500
18,Europe & Eurasia,Turkmenistan,0.600,0.600,0.600,0.600,0.600,0.600,0.600
19,Europe & Eurasia,United Kingdom,2.805,3.098,3.037,3.030,2.805,2.542,2.542
20,Europe & Eurasia,Uzbekistan,0.594,0.594,0.594,0.594,0.594,0.594,0.594
21,Europe & Eurasia,Other Europe & Eurasia,2.189,2.169,2.013,2.008,2.058,2.068,2.091
22,Middle East,Iran,151.170,154.580,157.300,157.600,157.800,158.400,158.900
23,Middle East,Iraq,115.000,143.100,140.300,144.211,143.069,142.503,153.000
24,Middle East,Kuwait,101.500,101.500,101.500,101.500,101.500,101.500,101.500
25,Middle East,Oman,5.500,5.500,5.500,4.974,5.151,5.306,5.373
26,Middle East,Qatar,24.684,23.900,25.229,25.063,25.705,25.244,25.244
27,Middle East,Saudi Arabia,264.516,265.405,265.850,265.850,267.000,266.578,266.455
28,Middle East,Syria,2.500,2.500,2.500,2.500,2.500,2.500,2.500
29,Middle East,United Arab Emirates,97.800,97.800,97.800,97.800,97.800,97.800,97.800
30,Middle East,Yemen,3.000,3.000,3.000,3.000,3.000,3.000,3.000
31,Middle East,Other Middle East,0.277,0.652,0.279,0.261,0.239,0.217,0.194
32,Africa,Algeria,12.200,12.200,12.200,12.200,12.200,12.200,12.200
33,Africa,Angola,9.500,9.055,12.667,12.667,12.598,11.776,11.567
34,Africa,Chad,1.500,1.500,1.500,1.500,1.500,1.500,1.500
35,Africa,Rep. of Congo (Brazzaville),1.600,1.600,1.600,1.600,1.600,1.600,1.600
36,Africa,Egypt,4.500,4.300,4.200,3.900,3.681,3.473,3.473
37,Africa,Equatorial Guinea,1.705,1.705,1.705,1.705,1.100,1.100,1.100
38,Africa,Gabon,2.000,2.000,2.000,2.000,2.000,2.000,2.000
39,Africa,Libya,47.097,48.014,48.472,48.363,48.363,48.363,48.363
40,Africa,Nigeria,37.200,37.200,37.139,37.070,37.070,37.070,37.062
41,Africa,South Sudan,NaN,NaN,3.500,3.500,3.500,3.500,3.500
42,Africa,Sudan,5.000,5.000,1.500,1.500,1.500,1.500,1.500
43,Africa,Tunisia,0.425,0.425,0.425,0.425,0.425,0.425,0.425
44,Africa,Other Africa,2.266,2.186,3.684,3.684,3.684,3.684,3.684
45,Asia Pacific,Australia,3.831,3.873,3.922,3.957,3.982,3.985,3.985
46,Asia Pacific,Brunei,1.100,1.100,1.100,1.100,1.100,1.100,1.100
47,Asia Pacific,China,23.236,23.749,24.409,24.702,25.142,25.655,25.655
48,Asia Pacific,India,5.833,5.704,5.720,5.711,5.743,4.786,4.677
49,Asia Pacific,Indonesia,4.230,3.741,3.741,3.693,3.625,3.603,3.307
50,Asia Pacific,Malaysia,3.739,3.739,3.668,3.750,3.600,3.600,3.600
51,Asia Pacific,Thailand,0.442,0.453,0.449,0.462,0.405,0.396,0.396
52,Asia Pacific,Vietnam,4.400,4.400,4.400,4.400,4.400,4.400,4.400
53,Asia Pacific,Other Asia Pacific,1.107,1.110,1.075,1.345,1.283,1.290,1.266

In [6]:
oil_r.sort_values(['2014','2015','2016'],ascending=False)

,Region,Country/ Region,2010,2011,2012,2013,2014,2015,2016
9,S. & Cent. America,Venezuela,296.501,297.571,297.735,298.350,299.953,300.878,300.978
27,Middle East,Saudi Arabia,264.516,265.405,265.850,265.850,267.000,266.578,266.455
1,North America,Canada,174.848,174.177,173.716,173.038,172.156,171.512,171.512
22,Middle East,Iran,151.170,154.580,157.300,157.600,157.800,158.400,158.900
23,Middle East,Iraq,115.000,143.100,140.300,144.211,143.069,142.503,153.000
17,Europe & Eurasia,Russian Federation,105.800,105.709,105.492,105.016,103.164,102.375,109.500
24,Middle East,Kuwait,101.500,101.500,101.500,101.500,101.500,101.500,101.500
29,Middle East,United Arab Emirates,97.800,97.800,97.800,97.800,97.800,97.800,97.800
0,North America,US,34.990,39.775,44.180,48.463,54.962,47.987,47.987
39,Africa,Libya,47.097,48.014,48.472,48.363,48.363,48.363,48.363
40,Africa,Nigeria,37.200,37.200,37.139,37.070,37.070,37.070,37.062
14,Europe & Eurasia,Kazakhstan,30.000,30.000,30.000,30.000,30.000,30.000,30.000
26,Middle East,Qatar,24.684,23.900,25.229,25.063,25.705,25.244,25.244
47,Asia Pacific,China,23.236,23.749,24.409,24.702,25.142,25.655,25.655
4,S. & Cent. America,Brazil,14.246,15.050,15.314,15.593,16.184,13.000,12.634
33,Africa,Angola,9.500,9.055,12.667,12.667,12.598,11.776,11.567
32,Africa,Algeria,12.200,12.200,12.200,12.200,12.200,12.200,12.200
2,North America,Mexico,11.691,11.394,11.424,11.079,10.816,7.977,7.977
6,S. & Cent. America,Ecuador,6.158,7.210,8.383,8.191,8.000,8.000,8.000
11,Europe & Eurasia,Azerbaijan,7.000,7.000,7.000,7.000,7.000,7.000,7.000
15,Europe & Eurasia,Norway,6.804,6.883,7.495,7.047,6.539,8.005,7.601
48,Asia Pacific,India,5.833,5.704,5.720,5.711,5.743,4.786,4.677
25,Middle East,Oman,5.500,5.500,5.500,4.974,5.151,5.306,5.373
52,Asia Pacific,Vietnam,4.400,4.400,4.400,4.400,4.400,4.400,4.400
45,Asia Pacific,Australia,3.831,3.873,3.922,3.957,3.982,3.985,3.985
44,Africa,Other Africa,2.266,2.186,3.684,3.684,3.684,3.684,3.684
36,Africa,Egypt,4.500,4.300,4.200,3.900,3.681,3.473,3.473
49,Asia Pacific,Indonesia,4.230,3.741,3.741,3.693,3.625,3.603,3.307
50,Asia Pacific,Malaysia,3.739,3.739,3.668,3.750,3.600,3.600,3.600
41,Africa,South Sudan,NaN,NaN,3.500,3.500,3.500,3.500,3.500
30,Middle East,Yemen,3.000,3.000,3.000,3.000,3.000,3.000,3.000
19,Europe & Eurasia,United Kingdom,2.805,3.098,3.037,3.030,2.805,2.542,2.542
28,Middle East,Syria,2.500,2.500,2.500,2.500,2.500,2.500,2.500
5,S. & Cent. America,Colombia,1.900,1.988,2.200,2.377,2.445,2.308,2.002
3,S. & Cent. America,Argentina,2.524,2.525,2.354,2.330,2.380,2.395,2.395
21,Europe & Eurasia,Other Europe & Eurasia,2.189,2.169,2.013,2.008,2.058,2.068,2.091
38,Africa,Gabon,2.000,2.000,2.000,2.000,2.000,2.000,2.000
35,Africa,Rep. of Congo (Brazzaville),1.600,1.600,1.600,1.600,1.600,1.600,1.600
34,Africa,Chad,1.500,1.500,1.500,1.500,1.500,1.500,1.500
42,Africa,Sudan,5.000,5.000,1.500,1.500,1.500,1.500,1.500
7,S. & Cent. America,Peru,1.240,1.206,1.423,1.617,1.410,1.187,1.187
53,Asia Pacific,Other Asia Pacific,1.107,1.110,1.075,1.345,1.283,1.290,1.266
37,Africa,Equatorial Guinea,1.705,1.705,1.705,1.705,1.100,1.100,1.100
46,Asia Pacific,Brunei,1.100,1.100,1.100,1.100,1.100,1.100,1.100
8,S. & Cent. America,Trinidad & Tobago,0.830,0.830,0.830,0.830,0.830,0.728,0.243
13,Europe & Eurasia,Italy,0.580,0.578,0.621,0.603,0.642,0.617,0.541
12,Europe & Eurasia,Denmark,0.899,0.805,0.730,0.673,0.610,0.491,0.440
16,Europe & Eurasia,Romania,0.600,0.600,0.600,0.600,0.600,0.600,0.600
18,Europe & Eurasia,Turkmenistan,0.600,0.600,0.600,0.600,0.600,0.600,0.600
20,Europe & Eurasia,Uzbekistan,0.594,0.594,0.594,0.594,0.594,0.594,0.594
10,S. & Cent. America,Other S. & Cent. America,0.768,0.507,0.512,0.528,0.529,0.536,0.520
43,Africa,Tunisia,0.425,0.425,0.425,0.425,0.425,0.425,0.425
51,Asia Pacific,Thailand,0.442,0.453,0.449,0.462,0.405,0.396,0.396
31,Middle East,Other Middle East,0.277,0.652,0.279,0.261,0.239,0.217,0.194

# Which region has max oil reserves from 2014 to 2016?

In [5]:
oil_r.sort_values(['2014','2015','2016'],ascending=False)[['Region','Country/ Region']].head(1)

               Region Country/ Region
9  S. & Cent. America       Venezuela

In [9]:
import matplotlib.pyplot as plt
plt.plot([oil_r['2010'],oil_r['2011'],oil_r['2012'],oil_r['2013'],oil_r['2014'],oil_r['2015'],oil_r['2016']],oil_r[oil_r['Country/ Region']=='India'])

# List the countries having maximum oil reserves in each region.

In [24]:
df=oil_r.sort_values(['2014','2015','2016'] ,ascending=False)
df
df_NA=df[df['Region']=='North America']
df_SC=df[df['Region']=='S. & Cent. America']
df_EU=df[df['Region']=='Europe & Eurasia'] 
df_ME=df[df['Region']=='Middle East']
df_A=df[df['Region']=='Africa']
df_AS=df[df['Region']=='Asia Pacific']
print(df_NA.head(1)[['Region','Country/ Region']])
print(df_SC.head(1)[['Region','Country/ Region']])
print(df_EU.head(1)[['Region','Country/ Region']])
print(df_ME.head(1)[['Region','Country/ Region']])
print(df_A.head(1)[['Region','Country/ Region']])
print(df_AS.head(1)[['Region','Country/ Region']])

          Region Country/ Region
1  North America          Canada
               Region Country/ Region
9  S. & Cent. America       Venezuela
              Region     Country/ Region
17  Europe & Eurasia  Russian Federation
         Region Country/ Region
27  Middle East    Saudi Arabia
    Region Country/ Region
39  Africa           Libya
          Region Country/ Region
47  Asia Pacific           China